  
<section class="hero is-fullheight">
    {{ partial "global/navbar" . }}
    
    <div class="video-container">
        <video autoplay loop autobuffer muted playsinline>>
            <source src="https://hungryram.s3-us-west-1.amazonaws.com/Zayde+Wolf+-+Reimagined+-+Dustin+Ortiz.mp4">
                Your browser does not support the video tag
        </video>
    </div>
    <div class="hero-body slide-content">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter has-text-white">
                    <h1 class="title is-2 has-text-white is-size-3-mobile mb-3 has-text-weight-medium is-uppercase">Filmmaker, Photographer, Content <span class="has-text-weight-feather">Strategy</span> </h1>
                    <div class="line"></div>
                    <p>A digital agency specialising in the creation of quality content and videos</p>
                    <div class="is-block mt-6">
                        <div class="cta">
                            <a href="" class="has-text-white hero-btn">Free quote
                                <img src="/assets/chevron-right.svg" alt="chevron-right" width="30">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="black-overlay"></div>
</section>