<div class="section intro" style="background: #050505;padding-top:100px;padding-bottom:100px;">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column lax">
                <h1 class="title is-3 has-text-white has-text-weight-light">My <span class="has-text-weight-bold underline">creativity</span> gave me the dream. <br><br>&mdash;	My work ethic took me <span class="has-text-weight-bold underline">around the world.</span> </h1>
            </div>

            <div class="column mt-6 pt-6">
                <p class="has-text-white">The best camera in the world won’t make your work good...
                    You will need all the things that you can’t buy at the camera shop...</p>
                    <p class="has-text-white">
                        Work ethic, persistence, vision, practice, and more practice and more practice.
                        I have some great cameras in my fleet but Sometimes it’s refreshing just using my iPhone to capture a moment for myself..</p>
            </div>
        </div>
    </div>
</div>