{{ define "main" }}
<div class="section contact-page">
    <div class="container">
        <div class="columns pb-6">
            <div class="column">
                <h4 class="title is-5 mb-0 has-text-weight-light">Contact Top Marq Media</h4>
                <h2 class="title is-1 mt-0 has-text-white">Ready to start a project?</h2>
            </div>
        </div>
        <div class="columns pt-6">
            <div class="column">
                <h4 class="title is-5 has-text-white is-italic is-uppercase has-text-weight-medium">Reach out</h4>
                <ul>
                    <li class="is-inline mr-6"><a href="" class="has-text-white">topmarqmedia@gmail.com</a></li>
                    <li class="is-inline mr-6"><a href="" class="has-text-white">916-281-8917</a></li>
                    <li class="is-inline mr-6"><a href="" class="has-text-white">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}